.caption {
  position: relative !important;
  margin-top: 1rem !important;
  flex-direction: column;
  h3 {
    text-transform: uppercase;
  }
  span {
    margin-left: 1rem;
    text-transform: capitalize;
    text-align: center;
  }
  a {
    font-size: 1.3rem;

    color: #00c2f8;
    // margin-left: 1rem;
  }
}
.slide {
  flex-direction: column;
}
