.titleBar {
	height: 2.5em;
	width: 100%;
	background-color: rgba(#111, 1);
	margin-top: 0;
	padding: 0px 10px;
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	color: #fff;
	align-items: center;
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: capitalize;
	}
}

.app {
	height: calc(100vh - 3rem);
	width: 100vw;
	border: 1px solid black;
	flex-direction: column;
	background-color: rgba(#ddd, 0.99);
	color: #111;
	overflow: hidden;
	box-shadow: 0px 0px 0.1em #fff;
	animation: grow 0.5s ease-in-out;
	position: absolute;
}
@media only screen and (max-width: 760px) {
	.app {
		background-color: rgba(#ddd, 0.99);
		border: 1px solid black;
	}
	.titleBar {
		background-color: rgba(#111, 0.8);
	}
	.content {
		padding: 5%;
	}
}
@media only screen and (max-width: 760px) {
	.app {
		height: 100vh;
		width: 100vw;
		background-color: rgba(#fff, 0.7);
		border: 1px solid black;
		flex-direction: column;
		position: absolute;
	}
	.titleBar {
		background-color: rgba(#111, 0.8);
	}
}

@media only screen and (min-width: 760px) {
	.app {
	}

	.navIcon {
		height: 1.5rem;
		margin: 0px 10px;
	}

	.content {
		padding: 10%;
		height: Calc(100% - 2.5em);
	}
	.close:hover,
	.close:focus {
		background: red;
		color: #111;
	}
}

@keyframes grow {
	from {
		transform: scale(0);
		overflow: hidden;
	}
	to {
		transform: scale(1);
	}
}
@keyframes shrink {
	from {
		transform: scale(2);
	}
	to {
		transform: scale(1);
	}
}
