.container {
	min-height: 100vh;
	min-width: 100vw;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	flex: 1;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(/man-and-space.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.overlay {
	background-color: rgba(16, 18, 32, 0.5);
	background-blend-mode: overlay;
	height: max-content;
	width: max-content;
	z-index: 2;
}
